.App{
    margin: 0;
    padding: 0;
    background-image: url(./Assets/sun.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: start;
}
  
